<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berners--lee</title>
</head>
<body>
    <h1>Berners--lee</h1>
    <ol>
    <li><a href="/">Home</a></li>
    <li><a href="/babbage">Babagge</a></li>
    <li><a href="/clarke">clarke</a></li>
    <li><a href="/hamilton">hamilton</a></li>
    <li><a href="/hopper">hopper</a></li>
    <li><a href="/lovelace">lovelace</a></li>
    <li><a href="/turing">turing</a></li>
    </ol>
</body>
</html>