<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <center><h2>Charles Babbage</h2></center>
    <center><a href="/babbage" target="_blank"><img src="/img/Charles-Babbage.jpg " width="250" height="300" alt="Charles Babbage"></a></center>
    <center><h2>Tim Berners-Lee</h2></center>
    <center><a href="/berners-lee" target="_blank"><img src="/img/berners-lee.jpg " width="250" height="250" alt="berners-lee"></a></center>
    <center><h2>Joan Clarke</h2></center>
    <center><a href="/clarke" target="_blank"><img src="/img/joan-clarke.jpg " width="250" height="250" alt="clarke"></a></center>
    <center><h2>Margaret Hamilton</h2></center>
    <center><a href="/hamilton" target="_blank"><img src="/img/hamilton.jpg " width="250" height="200" alt="hamilton"></a></center>
    <center><h2>Grace Murray Hopper</h2></center>
    <center><a href="/hopper" target="_blank"><img src="/img/hopper.jpg " width="250" height="200" alt="hopper"></a></center>
    <center><h2>Ada Lovelace</h2></center>
    <center><a href="/lovelace" target="_blank"><img src="/img/lovelace.jpg " width="250" height="300" alt="lovelace"></a></center>
    <center><h2>Alan Turing</h2></center>
    <center><a href="/turing" target="_blank"><img src="/img/turing.jpg " width="250" height="300" alt="turing"></a></center>
</body>
</html>